# Ruta absoluta a una copia local de la ROM. No se copia a la imagen.
ROM_PATH=/home/usuario/ROMs/Yoshis-Cookie-USA.zip

# Tag o commit exacto del repositorio oficial de bsnes.
BSNES_REF=7d5aa1e656b9171524d01b1b22917197d8121cb4

# Pantalla virtual interna; no aparece en el escritorio del host.
XVFB_SCREEN=1280x960x24
